body {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(125, 227, 235, 0.8));
    
}

#navigation-bar {
    background-image: linear-gradient(to right, rgba(255,255,255,0.87), rgba(145, 88, 88, 0.87));
    position: fixed;
    margin-top: 10px;
    width: 100%;
    top: 0px;
}

#header {
    font-family: "Noto Serif", serif;
    border: 1px solid black;
    width: fit-content;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 90px;
    
}

#user-info {
    font-family: "Noto Serif", serif;
    
    width: fit-content;
    padding-left: 150px;
    padding-right: 75px;
}

.image {
    margin: 95px;
}

#user-input {
    margin-left: 75px;
}

#user-input input {
    margin-left: 130px;
        
}

#user-input select {
    
    margin-left: 130px;  
}

#user-input label {
    position: absolute;
    
}

#navigation-bar li {
display: inline-table;
margin-left: 20px;
}

.image h5 {
    display: inline-block;
}