body {
    background-color: rgba(#ededed);
    padding-top: 25px;
    
}

#navigation {
    background-color: #7ad6ec;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    border: 1px solid black;
    float: none;
    
}

#navigation li {
    display: inline-block;
    padding-right: 15px;
}


#saman img {
    float: right;
}

#saman div {
    font-family: 'Lora', serif;
}

.clear {
    clear: both;
}

#about {
    background-color: #e6a861;
    font-family: 'Noto Serif', serif;
}

#hobbies {
    background-color: #7aeccf;
}

#contact {
    background-color: #b3d340;
}